*{
	box-sizing: border-box;
	margin: auto;
}

body{
	background-color: white;
	margin: 10px;
}

header{
	height: 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;
 }

#name {
	float: left;
	text-align: right;
     /*text-align: left;*/
     padding: 10px;
     margin-left: 20px;
     background: #4aaaa5;
     color: white;
     /*position: fixed;*/
     font-size: 20px;
     display: inline;
     	
}

#links{
	float: right;
	display: inline;
	

}

.boxhead a {
	clear: both;
     text-decoration: none;
     color: #777777;
     padding-right: 10px;
     }

#navbar{
	color: green;
	width: 30px;

}

.main{
	overflow: auto;
	width: 100%;
	background-image: url("../images/cork-wallet.png");
}

#sideright{
	float: right;
    margin: 0 0 10px 10px;
	width: 200px;
	z-index: -2;
	padding: 10px;
	margin-top: 20px;
	margin-left: 40px;
	}
#full{
	/*float: left;*/
	width: 300px;
	
}
 #article{
 	background-color: #ffffff;
 	width: 400px;
 }

	/*float:right;*/
	/*background: white;*/
}
h1{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

h2{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

p{
	background: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 400px;
	z-index: -2;
	padding: 10px;
	margin-top: 20px;
	margin-left: 40px;


}
h3{ background: #ffffff;
	width: 200px;
	z-index: -2;
	padding: 10px;
	float: right;

}

 #miniHeader{
	background-color: #ffffff;
    border-bottom: 1px solid #777777;
    padding-bottom: 10px;
 }

#profile-image{

}

#image1 {
	background-image: url("../images/i-see-you.jpg");
	width: 200px;
	height: 300px;
	float: left;
}

#pf-image2{

}

#pf-image3{

}

footer{
	clear:both;
	background-color: 666666;
	padding: 20px;
	color: #888;
	font-size: x-small;
}